SEMESTER 5/UAS PEMROGRAMAN WEB/clientsiakadjun/web/WEB-INF/wsdl/localhost_8080/serversiakadjun/Matakuliah.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matakuliah.siakad/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://matakuliah.siakad/" name="Matakuliah">
<types>
<xsd:schema>
<xsd:import namespace="http://matakuliah.siakad/" schemaLocation="http://localhost:8080/serversiakadjun/Matakuliah?xsd=1"/>
</xsd:schema>
</types>
<message name="addMatkul">
<part name="parameters" element="tns:addMatkul"/>
</message>
<message name="addMatkulResponse">
<part name="parameters" element="tns:addMatkulResponse"/>
</message>
<message name="getMatkul">
<part name="parameters" element="tns:getMatkul"/>
</message>
<message name="getMatkulResponse">
<part name="parameters" element="tns:getMatkulResponse"/>
</message>
<message name="delMatkul">
<part name="parameters" element="tns:delMatkul"/>
</message>
<message name="delMatkulResponse">
<part name="parameters" element="tns:delMatkulResponse"/>
</message>
<message name="editMatkul">
<part name="parameters" element="tns:editMatkul"/>
</message>
<message name="editMatkulResponse">
<part name="parameters" element="tns:editMatkulResponse"/>
</message>
<message name="cariMatkul">
<part name="parameters" element="tns:cariMatkul"/>
</message>
<message name="cariMatkulResponse">
<part name="parameters" element="tns:cariMatkulResponse"/>
</message>
<message name="tampilMatkul">
<part name="parameters" element="tns:tampilMatkul"/>
</message>
<message name="tampilMatkulResponse">
<part name="parameters" element="tns:tampilMatkulResponse"/>
</message>
<portType name="Matakuliah">
<operation name="addMatkul">
<input wsam:Action="http://matakuliah.siakad/Matakuliah/addMatkulRequest" message="tns:addMatkul"/>
<output wsam:Action="http://matakuliah.siakad/Matakuliah/addMatkulResponse" message="tns:addMatkulResponse"/>
</operation>
<operation name="getMatkul">
<input wsam:Action="http://matakuliah.siakad/Matakuliah/getMatkulRequest" message="tns:getMatkul"/>
<output wsam:Action="http://matakuliah.siakad/Matakuliah/getMatkulResponse" message="tns:getMatkulResponse"/>
</operation>
<operation name="delMatkul">
<input wsam:Action="http://matakuliah.siakad/Matakuliah/delMatkulRequest" message="tns:delMatkul"/>
<output wsam:Action="http://matakuliah.siakad/Matakuliah/delMatkulResponse" message="tns:delMatkulResponse"/>
</operation>
<operation name="editMatkul">
<input wsam:Action="http://matakuliah.siakad/Matakuliah/editMatkulRequest" message="tns:editMatkul"/>
<output wsam:Action="http://matakuliah.siakad/Matakuliah/editMatkulResponse" message="tns:editMatkulResponse"/>
</operation>
<operation name="cariMatkul">
<input wsam:Action="http://matakuliah.siakad/Matakuliah/cariMatkulRequest" message="tns:cariMatkul"/>
<output wsam:Action="http://matakuliah.siakad/Matakuliah/cariMatkulResponse" message="tns:cariMatkulResponse"/>
</operation>
<operation name="tampilMatkul">
<input wsam:Action="http://matakuliah.siakad/Matakuliah/tampilMatkulRequest" message="tns:tampilMatkul"/>
<output wsam:Action="http://matakuliah.siakad/Matakuliah/tampilMatkulResponse" message="tns:tampilMatkulResponse"/>
</operation>
</portType>
<binding name="MatakuliahPortBinding" type="tns:Matakuliah">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addMatkul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMatkul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delMatkul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editMatkul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cariMatkul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tampilMatkul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Matakuliah">
<port name="MatakuliahPort" binding="tns:MatakuliahPortBinding">
<soap:address location="http://localhost:8080/serversiakadjun/Matakuliah"/>
</port>
</service>
</definitions>