SEMESTER 5/UAS PEMROGRAMAN WEB/clientsiakadjun/web/WEB-INF/wsdl/localhost_8080/serversiakadjun/prodi.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://prodi.siakad/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://prodi.siakad/">

<xs:element name="getProdi" type="tns:getProdi"/>

<xs:element name="getProdiResponse" type="tns:getProdiResponse"/>

<xs:element name="tampilprodi" type="tns:tampilprodi"/>

<xs:element name="tampilprodiResponse" type="tns:tampilprodiResponse"/>

<xs:complexType name="tampilprodi">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tampilprodiResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProdi">
<xs:sequence>
<xs:element name="kode_prodi" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProdiResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>