SEMESTER 5/UAS PEMROGRAMAN WEB/clientsiakadjun/web/WEB-INF/wsdl/localhost_8080/server/Mahasiswa.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mahasiswa.siakad/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mahasiswa.siakad/" name="Mahasiswa">
<types>
<xsd:schema>
<xsd:import namespace="http://mahasiswa.siakad/" schemaLocation="http://localhost:8080/server/Mahasiswa?xsd=1"/>
</xsd:schema>
</types>
<message name="addMahasiswa">
<part name="parameters" element="tns:addMahasiswa"/>
</message>
<message name="addMahasiswaResponse">
<part name="parameters" element="tns:addMahasiswaResponse"/>
</message>
<message name="delMahasiswa">
<part name="parameters" element="tns:delMahasiswa"/>
</message>
<message name="delMahasiswaResponse">
<part name="parameters" element="tns:delMahasiswaResponse"/>
</message>
<message name="editMahasiswa">
<part name="parameters" element="tns:editMahasiswa"/>
</message>
<message name="editMahasiswaResponse">
<part name="parameters" element="tns:editMahasiswaResponse"/>
</message>
<message name="tampilMahasiswa">
<part name="parameters" element="tns:tampilMahasiswa"/>
</message>
<message name="tampilMahasiswaResponse">
<part name="parameters" element="tns:tampilMahasiswaResponse"/>
</message>
<portType name="Mahasiswa">
<operation name="addMahasiswa">
<input wsam:Action="http://mahasiswa.siakad/Mahasiswa/addMahasiswaRequest" message="tns:addMahasiswa"/>
<output wsam:Action="http://mahasiswa.siakad/Mahasiswa/addMahasiswaResponse" message="tns:addMahasiswaResponse"/>
</operation>
<operation name="delMahasiswa">
<input wsam:Action="http://mahasiswa.siakad/Mahasiswa/delMahasiswaRequest" message="tns:delMahasiswa"/>
<output wsam:Action="http://mahasiswa.siakad/Mahasiswa/delMahasiswaResponse" message="tns:delMahasiswaResponse"/>
</operation>
<operation name="editMahasiswa">
<input wsam:Action="http://mahasiswa.siakad/Mahasiswa/editMahasiswaRequest" message="tns:editMahasiswa"/>
<output wsam:Action="http://mahasiswa.siakad/Mahasiswa/editMahasiswaResponse" message="tns:editMahasiswaResponse"/>
</operation>
<operation name="tampilMahasiswa">
<input wsam:Action="http://mahasiswa.siakad/Mahasiswa/tampilMahasiswaRequest" message="tns:tampilMahasiswa"/>
<output wsam:Action="http://mahasiswa.siakad/Mahasiswa/tampilMahasiswaResponse" message="tns:tampilMahasiswaResponse"/>
</operation>
</portType>
<binding name="MahasiswaPortBinding" type="tns:Mahasiswa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tampilMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Mahasiswa">
<port name="MahasiswaPort" binding="tns:MahasiswaPortBinding">
<soap:address location="http://localhost:8080/server/Mahasiswa"/>
</port>
</service>
</definitions>